<!doctype html>
<html>
<head>
  <title>Socket.IO chat</title>
  <style>
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { font: 13px Helvetica, Arial; }
    form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
    form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
    form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
    #stanze { list-style-type: none; margin: 0; padding: 0; }
    #stanze li { padding: 5px 10px; }
    #stanze li:nth-child(odd) { background: #eee; }
  </style>
</head>
<body>
  <ul id="stanze">
    {{#each items}}
    <li><a href="/stanza/{{_id}}">{{nome}}</a></li>
    {{/each}}

  </ul>
  <form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
    var socket = io();
    $('form').submit(function(){
      socket.emit('stanze message', $('#m').val());
      $('#m').val('');
      return false;
    });
    socket.on('stanze message', function(stanza){
      console.log(stanza);
      $('#stanze').append($('<li>').html('<a href="/stanza/'+stanza._id+'">' + stanza.nome + '</a>' ));
    });
  </script>
</body>
</html>